[General]
# list of files of the initial bas.h5 files
input_fofn = input.fofn
#input_fofn = preads.fofn

job_type = local

input_type = raw
#input_type = preads

#openending = True

# The length cutoff used for seed reads used for initial mapping
length_cutoff = 1000
genome_size = 200000
#seed_coverage = 60

# The length cutoff used for seed reads usef for pre-assembly
length_cutoff_pr = 1


sge_option_da = -pe smp 4 -q bigmem
sge_option_la = -pe smp 20 -q bigmem
sge_option_pda = -pe smp 6 -q bigmem 
sge_option_pla = -pe smp 16 -q bigmem
sge_option_fc = -pe smp 24 -q bigmem
sge_option_cns = -pe smp 8 -q bigmem

#192 ?
pa_concurrent_jobs = 12
cns_concurrent_jobs = 12
ovlp_concurrent_jobs = 12

pa_HPCdaligner_option =  -v -dal128 -t16 -e0.8 -M24 -l3200 -k18 -h480 -w8 -s100
ovlp_HPCdaligner_option =  -v -dal128  -M24 -k24 -h1024 -e.9 -l2500 -s100

pa_DBsplit_option = -a -x500 -s100
ovlp_DBsplit_option = -s100

falcon_sense_option = --output_multi --min_cov_aln 4 --min_idt 0.70 --min_cov 4 --max_n_read 200 --n_core 8 
falcon_sense_skip_contained = False

overlap_filtering_setting = --max_diff 120 --max_cov 120 --min_cov 2 --n_core 12
#dazcon = 1
